/*
Author: Luis Camacho Jr.
VFW
Term: 1302
Project 2
*/

header {
        display: block;
        text-decoration: none;
        text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.5);
        border: 5px double;
        color: #ffffff;
        background-color: #034001;
        text-align: center;
        font-family: syncopate, serif;
        font-size: 14px;
        margin: 5px 5px 9px 5px;
        padding: 10px 0;
        position: relative;
}
article {
         border: 3px double #034001;
         text-align: center;
         color: #3C593B;
         background-color: #F2F2F2;
         font-family: syncopate, serif;
         font-size: 14px;
         line-height: 20px;
         margin: 5px 5px 9px 5px;
         padding: 0 20px;
         position: relative;
}
footer {
        text-align: center;
}
button {
        color: #034001;
        font-family: syncopate, serif;
        text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.5);
}

