/*
Author: Luis Camacho Jr.
VFW
Term: 1302
Project 2
*/

header {
        display: block;
        text-decoration: none;
        border: 5px double;
        color: #ffffff;
        background-color: #034001;
        text-align: center;
        font-size: 18px;
        margin: 5px 5px 9px 5px;
        padding: 10px 0;
        position: relative;
}
article {
         text-align: center;
         font-size: 18px;
         margin: 5px 5px 9px 5px;
         padding: 1px 0;
         position: relative;
}
footer {
        text-align: center;
}